---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Experto Bilingüe",
    description: "Construye tu sitio con un equipo que entiende tu mercado, ofreciendo servicios tanto en inglés como en español.",
    icon: "bx:bxs-comment-detail",
  },
  {
    title: "Soluciones 100% Personalizadas",
    description: "Diseñamos y desarrollamos soluciones personalizadas, eliminando todos los elementos innecesarios para una presencia en línea limpia y eficiente.",
    icon: "bx:bxs-customize",
  },
  {
    title: "Servicios Digitales a Pedido",
    description: "¿Necesitas un diseño web fresco? ¿Integración de comercio electrónico? ¿Automatización de tareas rutinarias? Te tenemos cubierto.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Amplia Integración",
    description: "Trabajamos con todo tipo de plataformas y tecnologías, proporcionándote las mejores herramientas para tus necesidades.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Habilitado para SEO",
    description: "Nuestro equipo se asegura de que tu negocio sea fácilmente encontrado en línea, eliminando el dolor de cabeza del SEO.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Comunidad",
    description: "Somos parte de la comunidad local de Maryland, comprometidos a ayudar a empresas como la tuya a prosperar.",
    icon: "bx:bxs-user",
  },
];
---


<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para construir una presencia en línea convincente
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    ContigoMaryland lo tiene todo incluido. Combinamos las mejores partes de las herramientas más avanzadas y añadimos nuestras propias innovaciones para ofrecerte una solución robusta y completa.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>