---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---
<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 600, 600]}
      aspectRatio="6:6"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Despegue hacia el Éxito Digital. ContigoMaryland a tu Lado.
    </h1>
    <h2 class="text-3xl font-bold mt-4 text-slate-900">Conectando Negocios Hispanos y Latinos al Mundo Digital</h2>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      ¿Te has sentido abrumado por la brecha digital y las complejidades del mundo en línea? En ContigoMaryland, comprendemos tus desafíos y hemos simplificado el camino hacia el éxito digital. Nuestra metodología, el "Impulso Digital Contigo", está diseñada para superar las barreras y brindarte resultados tangibles en el mundo digital, sin la necesidad de ser un experto tecnológico.
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      No importa si eres nuevo en el mundo digital o si ya tienes presencia en línea, en ContigoMaryland te ofrecemos soluciones integrales y personalizadas para llevar tu negocio hispano o latino al siguiente nivel. Eliminamos la incertidumbre y te proporcionamos el conocimiento y las herramientas necesarias para construir una presencia en línea convincente y alcanzar tus metas comerciales.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link href="#cta" class="flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Obtén tu auditoría gratuita y descubre cómo ContigoMaryland puede ayudarte a cerrar la brecha digital y lograr el éxito en el mundo digital.
      </Link>
    </div>
  </div>
</main>
