---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---
<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 600, 600]}
      aspectRatio="3:7"
      sizes="(max-width: 800px) 100vw, 400px"
      loading="eager"
      format="avif"
    />
  </div>
  
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Despegue hacia el Éxito Digital. ContigoMaryland a tu Lado.
    </h1>
    <h2 class="text-3xl font-bold mt-4 text-slate-900">Conectando Negocios Hispanos y Latinos al Mundo Digital</h2>
    <ul class="list-disc list-inside mt-4 text-lg text-slate-600 max-w-xl">
      <li class="font-bold">Transforma tu Presencia en Línea:</li>
      Con nuestra metodología revolucionaria, el "Impulso Digital Contigo", llevarás tu negocio hispano o latino al siguiente nivel. Imagina aumentar tu visibilidad en línea, atraer más clientes y lograr una rentabilidad excepcional.
      <li class="font-bold">Inspírate con Historias Reales:</li>
      Descubre cómo ContigoMaryland ha transformado negocios como el tuyo. Desde emprendimientos locales hasta empresas líderes, nuestros clientes han experimentado un crecimiento impresionante en su presencia en línea y resultados comerciales.
      <li class="font-bold">Resultados Tangibles y Duraderos:</li>
      Nuestra solución integral y personalizada te brinda las herramientas y el conocimiento necesarios para construir una presencia en línea convincente. Olvídate de la incertidumbre y logra resultados reales en el mundo digital.
    </ul>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link href="#cta" class="flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Obtén tu auditoría gratuita y descubre cómo ContigoMaryland puede ayudarte a cerrar la brecha digital y lograr el éxito en el mundo digital.
      </Link>
    </div>
  </div>
</main>
